<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a href="/Administrator">
                <div class="logo logo-dark" style="background-image: url('/Assets/Admin/images/logo/logo.png')"></div>
                <div class="logo logo-white" style="background-image: url('/Assets/Admin/images/logo/logo-white.png')"></div>
            </a>
        </div>
        <ul class="side-nav-menu scrollable">
            <li class="nav-item active">
                <a class="mrg-top-30" href="/Administrator">
                    <span class="icon-holder">
                        <i class="ti-home"></i>
                    </span>
                    <span class="title">Trang chủ</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-package"></i>
                    </span>
                    <span class="title">Hãng sản phẩm</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Administrator/danh-sach-hang">Danh sách hãng</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-package"></i>
                    </span>
                    <span class="title">Sản phẩm</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Administrator/them-moi-san-pham">Thêm sản phẩm</a>
                    </li>
                    <li>
                        <a href="/Administrator/san-pham-dien-thoai">Điện thoại</a>
                    </li>
                    <li>
                        <a href="/Administrator/san-pham-laptop">Laptop</a>
                    </li>
                    <li>
                        <a href="/Administrator/san-pham/cap-nhat-khuyen-mai">Cập nhật khuyến mãi</a>
                    </li>
                    <li>
                        <a href="/san-pham-ngung-kinh-doanh">Danh sách ngừng kinh doanh</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-layout-list-thumb-alt"></i>
                    </span>
                    <span class="title">Tin tức</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index","TinTuc")">Danh sách tin tức</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DangTin","TinTuc")">Đăng tin tức</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-user"></i>
                    </span>
                    <span class="title">Nhân viên</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index","NhanVien")">Danh sách nhân viên</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DoiMatKhau","NhanVien")">Thay đổi mật khẩu</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-package"></i>
                    </span>
                    <span class="title">Kho hàng</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Tình trạng kho</a>
                    </li>
                    <li>
                        <a href="#">Nhập kho</a>
                    </li>
                    <li>
                        <a href="#">Lịch sử nhập/xuất</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-package"></i>
                    </span>
                    <span class="title">Đơn hàng</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Đơn hàng chờ duyệt</a>
                    </li>
                    <li>
                        <a href="#">Đơn hàng chưa giao</a>
                    </li>
                    <li>
                        <a href="#">Đơn hàng đã giao</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-package"></i>
                    </span>
                    <span class="title">Bảo hành</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Kiểm tra bảo hành</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-settings"></i>
                    </span>
                    <span class="title">Cấu hình</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Administrator/GioiThieu">Trang giới thiệu</a>
                    </li>
                    <li>
                        <a href="#">Slide ảnh</a>
                    </li>
                    <li>
                        <a href="#">Backup Database</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
